<h3>Card</h3>


<div class="card mb-3">
    <div class="card-header">
        @Header
    </div>

    <div class="card-body">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h5 class="card-title">@Title</h5>
        }

        @if (!string.IsNullOrEmpty(Text))
        {
            <p class="card-text">@Text</p>
        }

        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string? Header { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
